<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movimiento Dinero</title>
    <link rel="icon" type="image/png" sizes="32x32" href="media/img/Index/icono.png">
    <link rel="stylesheet" href="styles/stylesDinero.css">
</head>
<body>
<div class="container">
    <div class="cardMenu">
        <nav>
            <ul>
                <li onclick="search()"><b>Buscar<br>Movimiento</b></li>
                <li onclick="create()"><b>Crear<br>Movimiento</b></li>
                <li onclick="update()"><b>Editar<br>Movimiento</b></li>
                <li onclick="del()"><b>Eliminar<br>Movimiento</b></li>
            </ul>
        </nav>
    </div>

    </section>
</div>
</div>
<script src="js/Dinero.js"></script>

</body>
</html>